/*----------------------------------------- General*/

#background {
    background: url(backgrounds/background1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: padding-box;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
       -webkit-background-composite: clear;
}

body {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: darkslategray !important;
    background-color: rgba(255, 255, 255, 0.9);
    ;
}

h2,
.satisfy {
    font-family: 'Satisfy', cursive;
}

.marcellus {
    font-family: 'Marcellus SC', serif;
}

section {
    font-size: 14px;
}

.titre {
    box-sizing: border-box;
    text-align: center;
}

section:target {
    padding-top: 7em;
    margin-top: -7em;
}

a:hover {
    text-decoration: none;
}

.hideme {
    opacity: 0;
}


/*--------------------------------------------Backgrounds'box & sections */

.box {
    background-color: rgba(255, 255, 255, 0.9);
}

.bgtranspa {
    background: rgba(0, 0, 0, 0.3);
}

.textindent {
    text-indent: 20px;
}

.intro {
    font-size: 18px;
}

.progress {
    width: 70%;
    margin: auto;
}

.copyright {
    color: #777;
}

#titre {
    color: white;
    font-family: 'Marcellus SC', serif;
}

.souligne {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
}


/*FOOTER*/

.textno {
    text-indent: -30px;
}

.gmail {
    text-indent: -70px;
}

.github {
    text-indent: -15px;
}


/*--------------------------------------- images et logos*/

#maphoto {
    height: auto;
    max-width: 90%;
}

.logo {
    height: 5vw;
}

.compweblogos {
    height: auto;
    max-width: 25%;
}

.compweblogos:hover {
    transform: scale(1.5);
    transition: transform .2s;
}

.bigger {
    height: auto;
    max-width: 40%;
}

.form {
    height: auto;
    max-width: 45%;
}


/*carousel*/

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.bgtranspacarousel {
    background: rgba(0, 0, 0, 0.7);
}

.card-img-top:hover {
    filter: saturate(2);
}

.carousel-item {
    height : 33vw;
    width: 100%;
}

.carousel-item img {
    /* object-fit: cover; */
    height : 100%;
    width: 100%;
}


/*_____ typewritter ____________*/

.typewriter h2 {
    width: 50%;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid grey;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 50%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: grey;
    }
}
